<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icons/nike.png">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-default.min.css">
    <title>Ecommerce Site</title>
</head>

<body class="font-custom h-screen">
    <div class="container mx-auto mb-10">
        <%- include ('partials/header') %>
            <!-- <nav class="flex mt-4">
                <ol class="flex text-grey-dark">
                    <li><a href="#" class="font-medium text-gray-400 mr-4 text-sm">Home</a></li>
                </ol>
            </nav> -->
            <div class="splide mx-auto mt-4">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img src="/images/banner2.png"></li>
                        <li class="splide__slide"><img src="/images/banner.jpg"></li>
                        <li class="splide__slide"><img src="/images/banner1.jpg"></li>
                    </ul>
                </div>
            </div>
            <main class="pb-10">
                <!-- <h2 class="text-3xl mt-3">NIKE</h2> -->
                <div class="grid gap-6 mt-8 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
                    <% products.forEach(product => { %>
                        <div>
                            <a href="/product/<%= product._id %>">
                                <img class="block h-auto w-auto"
                                    src="<%= product.image %>"
                                    alt="<%= product.name %>">
                            </a>
                            <div class="flex flex-col mt-4">
                                <h4 class="font-semibold"><%= product.name %></h4>
                                <p class="my-1 text-gray-400 font-medium"><%= product.category %></p>
                                <p class="text-gray-400 font-medium">$<%= product.price %></p>
                            </div>
                        </div>
                    <% }) %>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="https://kit.fontawesome.com/1de4292787.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/header.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            new Splide('.splide', {
                type: 'loop',
                heightRatio: 0.4,
                autoplay: true,
                cover: true,
            }).mount();
        });
    </script>
</body>

</html>